<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Question</title>
</head>

<body>
    <!--Back to top button-->
    <a id="BTTbutton"></a>
    <script>
        var btn = $('#BTTbutton');
        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });
        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });

        function marked() {
            if (document.getElementById("heart").style.color == "rgb(231, 7, 112)") {
                document.getElementById("heart").style.color = "white";
            } else {
                document.getElementById("heart").style.color = "rgb(231, 7, 112)";
            }
        }
    </script>

    <header>
        <!--thanh menu-->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Thông báo <span class="badge badge-danger">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right notification"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-md">
                                                <img src="image/user/withBG.png" class="card-img rounded-circle"
                                                    width="auto">
                                            </div>
                                            <div class="col-md-11">
                                                <div class="card-body">
                                                    <p>Thông báo số 1jhv hjf vjfhv jhdv
                                                        jfdvnjkdvknvjkdfgnjvnkjdfnvkjfnbhjvjdvjf djhv jfd </p>
                                                    <p class="card-text"><small class="text-muted">x phút trước</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="card" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md">
                                                <img src="image/user/withBG.png" class="card-img rounded-circle"
                                                    width="auto">
                                            </div>
                                            <div class="col-md-11">
                                                <div class="card-body">
                                                    <p class="card-text">Thông báo số 2 day finlfs slkn skjnknkz
                                                        oirhgosn sjgrknsk oirghois kshgohgo skghoih fsdkgibg sgohgsoi
                                                    </p>
                                                    <p class="card-text"><small class="text-muted">x phút trước</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="card" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md">
                                                <img src="image/user/withBG.png" class="card-img rounded-circle"
                                                    width="auto">
                                            </div>
                                            <div class="col-md-11">
                                                <div class="card-body">
                                                    <p class="card-text">Thông báo số 3</p>
                                                    <p class="card-text"><small class="text-muted">x phút trước</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="card" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md">
                                                <img src="image/user/withBG.png" class="card-img rounded-circle"
                                                    width="auto">
                                            </div>
                                            <div class="col-md-11">
                                                <div class="card-body">
                                                    <p class="card-text">Thông báo số 4</p>
                                                    <p class="card-text"><small class="text-muted">x phút trước</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item viewAll" href="#" style="text-align: center">Xem tất cả</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn btn-outline-light" data-toggle="dropdown"><img
                                    src="image/user/withBG.png" class="rounded-circle" width="25px"> Tên người
                                dùng</button>
                            <div class="dropdown-menu dropdown-menu-lg-right userMenu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Thông tin cá nhân</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-question-circle"></i> Phòng của
                                    tôi</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-heart"></i> Đánh dấu</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="homeContent">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <!--thanh menu trai-->
                    <div class="col leftBar">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#taophong"
                            data-whatever="@mdo"><i class="fas fa-plus-circle"></i> Tạo
                            phòng</button>
                        <!--Khung tao phong-->
                        <div class="modal fade" id="taophong" tabindex="-1" role="dialog" aria-labelledby="taophong"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="" method="" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="taophong">Tạo phòng</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label class="col-form-label">Tên phòng:</label>
                                                    <input type="text" class="form-control" name="tenphong">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="col-form-label">Mật khẩu phòng:</label>
                                                            <input type="text" class="form-control" name="matkhau"
                                                                id="matkhau">
                                                            <small id="matkhau" class="form-text"
                                                                style="color: #007bff">Để trống nếu không
                                                                đặt
                                                                mật
                                                                khẩu</small>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="col-form-label">Chủ đề:</label>
                                                            <select class="form-control">
                                                                <option>Chủ đề 1</option>
                                                                <option>Chủ đề 2</option>
                                                                <option>Chủ đề 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label class="col-form-label">Mô tả:</label>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Hủy</button>
                                            <input type="submit" class="btn btn-primary" id="taophong" name="tao"
                                                value="Tạo phòng">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <nav class="nav flex-column bigMenu">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i> Tất cả các phòng</a>
                            <a class="nav-link" href="#"><i class="fas fa-bars"></i> Chủ đề</a>
                            <div class="container">
                                <nav class="nav flex-column subMenu">
                                    <a class="nav-link" href="#">Học tập <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Công nghệ <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Khoa học <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Đời sống <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Sức khỏe <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Thể thao <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Điện ảnh <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Âm nhạc <span
                                            class="badge badge-light float-right">4</span></a>
                                    <a class="nav-link" href="#">Y học <span
                                            class="badge badge-light float-right">4</span></a>
                                </nav>
                            </div>
                            <a class="nav-link" href="#"><i class="fas fa-heart"></i> Đánh dấu</a>
                            <a class="nav-link" href="#"><i class="fas fa-question-circle"></i> Phòng của tôi</a>
                        </nav>
                    </div>
                    <!--phan noi dung giua-->
                    <div class="col-7 centerBar">
                        <div class="MainContent">
                            <div class="roomTitle" style="border: none">
                                <h4>Nội dung câu hỏi</h4>
                            </div>
                            <div class="roomFooter">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <button type="button" class="btn btn-sm btn-outline-light float-left"
                                            style="margin-right: 1rem"><i class="fas fa-arrow-left"></i> Trở về</button>
                                        <button type="button" class="btn btn-sm btn-outline-light float-left"
                                            style="margin-right: 1rem"><i class="far fa-caret-square-up"></i> Upvote
                                            (123)</button>
                                    </div>
                                    <!--Cho chu cau hoi-->
                                    <div class="float-left" style="display: inherit">
                                        <button class="btn btn-sm btn-info" style="margin-right: 1rem">Chỉnh sửa <i
                                                class="fas fa-pen"></i></button>
                                        <button class="btn btn-sm btn-danger" style="margin-right: 1rem">Xóa câu hỏi <i
                                                class="fas fa-trash"></i></button>
                                    </div>
                                    <!---->
                                </div>
                                <div class="userBox">
                                    <div style="margin-right: 10px">
                                        <a href="#">Nguyễn Tuấn Linh</a>
                                        <p>Ngày tạo: 19:31 22/08/2019</p>
                                    </div>
                                    <img src="image/user/withBG.png" width="35">
                                </div>
                            </div>
                            <div class="comment">
                                <div class="commentHead justify-content-between">
                                    <div>
                                        <h5>Trả lời</h5>
                                    </div>
                                </div>
                                <div class="commentBody">
                                    <div class="form-group postComment">
                                        <textarea class="form-control" id="commentForm" rows="3"
                                            placeholder="Trả lời câu hỏi..."></textarea>
                                        <button type="submit" class="btn btn-sm btn-primary">Đăng <i
                                                class="far fa-comment"></i></button>
                                    </div>
                                    <div class="commentShow">
                                        <ul class="list-group">
                                            <!-- list comment -->
                                            <li class="list-group-item">
                                                <div class="userAvatar">
                                                    <img src="image/user/withBG.png" class="rounded-circle" width="35">
                                                </div>
                                                <div class="commentText">
                                                    <div class="userName justify-content-between">
                                                        <div>
                                                            <div class="name"><a href="#">User 1</a></div>
                                                            <div class="small text-muted">23:00 29/09/2019</div>
                                                        </div>
                                                        <div class="commentPin">
                                                            <i class="fas fa-thumbtack"></i> Bình
                                                            luận được ghim
                                                        </div>
                                                    </div>
                                                    <div class="userComment">
                                                        Comment của user đang đăng nhập
                                                    </div>
                                                    <div class="extraButtons clearfix">
                                                        <!--Cho admin phong-->
                                                        <button type="button" class="btn btn-sm btn-info">Bỏ
                                                            ghim</button>
                                                        <!--Cho chu comment-->
                                                        <button type="button" class="btn btn-sm btn-danger float-right"
                                                            style="margin-right: 0">Xóa</button>
                                                        <button type="button"
                                                            class="btn btn-sm btn-success float-right">Chỉnh
                                                            sửa</button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="userAvatar">
                                                    <img src="image/user/withBG.png" class="rounded-circle" width="35">
                                                </div>
                                                <div class="commentText">
                                                    <div class="userName justify-content-between">
                                                        <div>
                                                            <div class="name"><a href="#">User name</a></div>
                                                            <div class="small text-muted">23:00 29/09/2019</div>
                                                        </div>
                                                        <div class="commentPin" style="display: none">
                                                            <i class="fas fa-thumbtack"></i> Câu trả lời được ghim
                                                        </div>
                                                    </div>
                                                    <div class="userComment">
                                                        bnfgkdfngndkbnkgnbkndgbknkgnifghngiouhioghadohv idfvbikfvb
                                                        vdfuigviksdfv idfhvikfds vbdifhfv dfihvn dfhvin dfv dfsvmk dfkn
                                                    </div>
                                                    <div class="extraButtons clearfix">
                                                        <!--Cho admin phong-->
                                                        <button type="button" class="btn btn-sm btn-primary">Ghim
                                                            comment</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <nav style="margin-top: 15px">
                                            <ul class="pagination pagination-sm justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--thanh ben phai-->
                    <div class="col rightBar">
                        <form class="form-inline">
                            <div class="input-group mb-3 searchbox">
                                <input type="search" class="form-control" placeholder="Tìm kiếm...">
                                <div class="input-group-append">
                                    <button class="btn searchbtn" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="slides">
                            <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselExampleInterval">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-interval="10000">
                                        <img src="image/slides/ad1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-interval="2000">
                                        <img src="image/slides/ad2.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="image/slides/ad3.png" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleInterval" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="extraInformation">
                            <ul class="list-group">
                                <li class="list-group-item onlineMem">Thành viên đang online: 1000</li>
                                <li class="list-group-item onlineRoom">Phòng đang mở: 20</li>
                                <li class="list-group-item onlineMy">Phòng đang mở của tôi: 2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-info col-sm-4">
                    <h5>Navbar</h5>
                    <p>2019 thử nghiệm, sản phẩm thực hành bộ môn</p>
                </div>
                <div class="footer-payment col-sm-4">
                    <h5>Địa chỉ</h5>
                    <p>Đại học công nghệ - ĐHQGHN</p>
                    <p>Xuân Thủy, Cầu Giấy, Hà Nội</p>
                </div>
                <div class="footer-contact col-sm-4">
                    <h5>Liên hệ chúng tôi</h5>
                    <ul>
                        <li><a href="#"><img src="image/icons/facebook.svg" /></a></li>
                        <li><a href="#"><img src="image/icons/gmail.svg" /></a></li>
                        <li><a href="#"><img src="image/icons/twitter.svg" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>